h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 50px;
    font-style: normal;
}
.judul1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#h1 {
    text-align: center;
    font-weight: 100px;
}
.text1 {
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
    font-weight: normal;
    font-size: 50px;
    font-variant: normal;
    color: blue;
}

.text2 {
    font-size: 30px;
    color: brown;
    text-align: left;
    text-transform: capitalize;
    word-spacing: 5px;
}
.text3 {
    text-align: left;
    color: black;
    text-transform: capitalize;
}
.bg1 {
    background-color: aquamarine;
    background-image: url(../image/PromoIklan.png);
    background-repeat: repeat-x;    
    background-size: 25%;
    background-position: bottom center;
}
h2 {
    text-align: center;
    text-indent: 0%;
    text-decoration: underline;
    text-transform: capitalize;
}
.p1 {
    color: crimson;
    text-shadow: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.p2 {
    background-color: aquamarine;
    color: green;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}
/* style default pada sebuah link */
.hello:link {
    color: orange;
}
/* style ketika mouse berada diatas sebuah link */
.hello:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aqua;
}
/* style ketika sebuah link di-klik */
.hello:active {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5%;
}
.hello:visited {
    color: darkkhaki;
    font-variant: normal;
    text-decoration: underline;
}
.body1 {
    color: red;
}
a {
    color: inherit;
}